

<div >
    <h2>Add Category</h2>
    <a href="/admin/add-category" class="btn btn-primary">Add</a>
</div>

<br>

<div >
    <h2>Add Recipe</h2>
    <a href="/admin/add-recipe" class="btn btn-primary">Add</a>
</div>
