<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/images/food.svg" width="300" height=auto class="d-block mx-lg-auto img-fluid rounded" loading="lazy" alt="Food Image">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Delicious Recipes Await You!</h1>
        <p class="lead"> Discover, cook, and enjoy thousands of delicious recipes crafted for all skill levels. Whether you're a beginner or a seasoned chef, 
        we have everything you need to whip up the perfect meal. Dive into our collection and bring your kitchen to life with flavorful creations.
        </p>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
        <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>

</div>

<catogory>
    <div class="row row-col-2 row-cols-lg-6 g-2 g-lg-3 py-4">

        <a href="#" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy">
            </div>
            <div class="pt-1">Indian</div>
        </a>

        <a href="#" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy">
            </div>
            <div class="pt-1">Indian</div>
        </a>

        <a href="#" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy">
            </div>
            <div class="pt-1">Indian</div>
        </a>

        <a href="#" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy">
            </div>
            <div class="pt-1">Indian</div>
        </a>

        <a href="#" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy">
            </div>
            <div class="pt-1">Indian</div>
        </a>


        <a href="#" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy">
            </div>
            <div class="pt-1">View All</div>
        </a>

    </div>
</catogory>

<latest>

    <section class="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
            <h2>Latest Recipes</h2>
            <a href="/explore-latest" class="ms-auto">View More</a>
        </div>

        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

            <a href="/recipe/#" class="col text-center category__link">
                <div class="category__img latest__img shadow">
                    <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy" style="height:100%">
                </div>
                <div class="pt-1">Name</div>
            </a>

            <a href="/recipe/#" class="col text-center category__link">
                <div class="category__img latest__img shadow">
                    <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy" style="height:100%">
                </div>
                <div class="pt-1">Name</div>
            </a>

            <a href="/recipe/#" class="col text-center category__link">
                <div class="category__img latest__img shadow">
                    <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy" style="height:100%">
                </div>
                <div class="pt-1">Name</div>
            </a>

            <a href="/recipe/#" class="col text-center category__link">
                <div class="category__img latest__img shadow">
                    <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy" style="height:100%">
                </div>
                <div class="pt-1">Name</div>
            </a>

            <a href="/recipe/#" class="col text-center category__link">
                <div class="category__img latest__img shadow">
                    <img src="/images/Food_india.jpg" alt="Indian Food" loading="lazy" style="height:100%">
                </div>
                <div class="pt-1">Name</div>
            </a>

        </div>

    


    </section>

</latest>

<submit>

    <section class="px-4 py-5 my-5 text-center">
        
        <img src="/images/submit.png" class="d-block mx-auto mb-4 img-fluid rounded" alt="Submit your recipe" width="566" height="208" loading="lazy">
        <h1 class="display-5 fw-bold">Submit your recipe</h1>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Discover, cook, and enjoy thousands of delicious recipes crafted for all skill levels.</p>
        </div>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
        </div>

    </section>


</submit>