<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/images/food.svg" width="300" height=auto class="d-block mx-lg-auto img-fluid rounded" loading="lazy" alt="Food Image">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Delicious Recipes Await You!</h1>
        <p class="lead"> Discover, cook, and enjoy thousands of delicious recipes crafted for all skill levels. Whether you're a beginner or a seasoned chef, 
        we have everything you need to whip up the perfect meal. Dive into our collection and bring your kitchen to life with flavorful creations.
        </p>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
        <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>

</div>