<section>



    <div class="px-4 py-2 my-5 text-center">
        <h1 class="display-5 fw-bold">Submit your recipe</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">Have a favorite recipe? Share it with our community and inspire others to cook your culinary
                creations!</p>
        </div>
        <img src="/images/submit_form.png" class="d-block mx-auto mb-4  rounded" alt="Submit your recipe" width="460"
            height="170" loading="lazy">

    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form action="/submit-recipe" enctype="multipart/form-data" method="POST">

                <div class="row g-3">
                    {{#if success}}
                    <div class="alert alert-success" role="alert" id="success-alert">
                        Recipe submitted successfully !
                    </div>
                    {{/if}}

                  <h4 id="user-id"hidden>User id :{{user._id}}</h4>

                <div class="col-12">
                    <label for="name" class="form-label">Recipe Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">Description</label>
                    <input type="text" name="description" id="description" class="form-control">
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">Ingredients</label>
                    <textarea type="text" name="ingredients" id="ingredients" cols="30" rows="4"
                        class="form-control"></textarea>
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">Making</label>
                    <textarea type="text" name="making" id="making" cols="30" rows="4" class="form-control"></textarea>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="description" class="form-control">
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Category</label>
                    <input type="text" name="category" id="category" class="form-control">
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Image</label>
                    <input type="file" name="image" class="form-control" accept="image/*">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary mx-auto d-block">Submit</button>
                </div>



        </div>
        </form>

    </div>
    </div>


</section>

<script>
    hideAlert('success-alert',2000)
</script>