:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
}


body{
    background-image: url('/images/body-bg.svg');
    background-color: rgb(243, 243, 243);
}

.category__link{
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;   
    justify-content: center;
    align-items: center;   
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img img{
    width: 100%;
    object-fit: cover;
}

.latest__img{
    height: 330px;
}

.login_btn,.signup_btn{
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.login_btn{
    background-color: white;
    border: 2px solid #0d6efd;
    color: #0d6efd;
}

.login-btn:hover {
    background-color: #0d6efd;
    color: white;
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.3);
}

.signup-btn {
    background-color: #0d6efd;
    border: none;
    color: white;
}

.signup-btn:hover {
    background-color: #004fbb;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 79, 187, 0.3);
}